<mat-card *ngIf="task" class="example-card"
          [ngClass]="{
            'low': task.priorityId === 0,
            'middle': task.priorityId === 1,
            'high': task.priorityId === 2,
            'critical': task.priorityId === 3
          }">
  <div>
    <mat-card-title class="title"> {{task.name}} </mat-card-title>
    <p> {{task.money}} ₽</p>
    <mat-card-subtitle> {{task.createDate | date}} </mat-card-subtitle>
  </div>
  <mat-card-content>
    <div class="task-content">
      <mat-card-subtitle> Дата изменения </mat-card-subtitle>
      <p> {{task.lastUpdateDate | date}} </p>
    </div>
    <div class="task-content" *ngIf="user">
      <mat-card-subtitle> Исполнитель </mat-card-subtitle>
      <div class="user">
        <img [src]="user.imgUrl">
        <span> {{user.name}} </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

