<div class="line"></div>
<div class="task">
  <div class="flex-container">
    <div class="head">
      <div class="task-name">{{taskName.name}}</div>
      <div class="regular-text">{{taskName.money}} ₽</div>
      <div class="ligth-text">{{taskName.date}}</div>
    </div>
    <div>
      0
    </div>
  </div>
  <div class="info">
    <div class="ligth-text" *ngIf="taskName.dateChange">Дата изменения</div>
    <div class="regular-text">{{taskName.dateChange}}</div>
    <div class="ligth-text">Исполнитель</div>
    <div>{{taskName.executor}}</div>
  </div>
</div>
