<div class="root">
  <div class="board">
    <div class="board-bar">
      <!-- <div class="board-name">Board name</div> -->
      <h3>Заявки</h3>
      <button type="button" class="btn btn-primary mr-2 ml-2">Добавить сделку</button>
      <div class="input-group">
          <input type="text" class="form-control" aria-label="Имя получателя" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Кнопка</button>
          </div>
      </div>
    </div>
    <div class="board-wrapper">
      <div class="board-columns">
        <div class="board-column">
          <div class="column-title">
            ВХОДЯЩИЕ
          </div>
          <div class="amount"> 0 ₽ </div>
          <div class="tasks-container"
                >
              <div class="task"*ngFor="let item of incomingRequests" >
                {{item}}
              </div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            В РАБОТЕ
          </div>
          <div class="amount"> 597 000 ₽ </div>
          <div class="tasks-container">
              <div class="task" *ngFor="let item of inWorkRequests" >
                {{item}}
              </div>
            </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            НА СОГЛАСОВАНИИ
          </div>
          <div class="amount"> 597 000 ₽ </div>
          <div class="tasks-container">
              <div class="task" *ngFor="let item of toAgreedRequests" >
                {{item}}
              </div>
          </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            ГОТОВО
          </div>
          <div class="amount"> 597 000 ₽ </div>
          <div class="tasks-container">
            <div class="task" *ngFor="let item of  doneRequests" >
              {{item}}
            </div>
        </div>
        </div>
        <div class="board-column">
          <div class="column-title">
            К ОТГРУЗКЕ
          </div>
          <div class="amount"> 597 000 ₽ </div>
          <div class="tasks-container">
            <div class="task" *ngFor="let item of   forShipmentRequests" >
              {{item}}
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

