<div class="root">
<!-- 
  <div class="d-flex justify-content-between">
    <h3>Заявки</h3>
    <button type="button" class="btn btn-primary mr-2 ml-2">Добавить сделку</button>
    <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Имя получателя" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Кнопка</button>
        </div>
    </div>
</div> -->
<div class="board">
  <div class="board-bar">
    <div class="board-name">Board name</div>
  </div>
  <div class="board-wrapper">
    <div class="board-columns">
      <div class="board-column">
        <div class="column-title">
          Входящие
        </div>
      </div>
      <div class="board-column">
        <div class="column-title">
          В работе
        </div>
      </div>
      <div class="board-column">
        <div class="column-title">
          На согласовании
        </div>
      </div>
      <div class="board-column">
        <div class="column-title">
          Готово
        </div>
      </div>
      <div class="board-column">
        <div class="column-title">
          к отгрузке
        </div>
      </div>
    </div>
  </div>
</div>
</div>

