<div class="dialog"
      [ngClass]="{
        'low': task.priorityId === 0,
        'middle': task.priorityId === 1,
        'high': task.priorityId === 2,
        'critical': task.priorityId === 3
      }">
  <form #myForm="ngForm" novalidate >
  <mat-dialog-content class="border-bottom">
      <mat-card-subtitle *ngIf="inputTask.name !== ''"
                          mat-dialog-title>
              {{"Редактирование заявки" | uppercase}}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="inputTask.name === ''" mat-dialog-title>
              {{"Создание заявки" | uppercase}}
      </mat-card-subtitle>
    <div class="flex-box" >
      <mat-form-field appearance="outline" name="status" >
        <mat-label>Статус заявки</mat-label>
        <mat-select [(value)]="task.statusId">
            <mat-option *ngFor="let statuse of statuses" [value]="statuse.id">
              {{statuse.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <div> 
        <label>{{statuses[task.statusId].name | uppercase}}</label>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-content>
    <!-- <ng-template *ngIf="inputTask.name === ''"> -->
      <mat-card-title *ngIf="inputTask.name !== ''">{{task.name}}</mat-card-title>
      <div *ngIf="inputTask.name === ''">
        <mat-card-subtitle>Название:</mat-card-subtitle>
        <mat-form-field class="example-full-width">
          <input  name="taskName" 
                  matInput type="text" 
                  placeholder="Введите название сделки..." 
                  [(ngModel)]="task.name"
                  [formControl]="nameFormControl" 
                  [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-card-subtitle>Сумма:</mat-card-subtitle>
        <mat-form-field class="example-full-width">
          <input  name="taskPrice" matInput 
                  placeholder="Введите число..." 
                  type="number"
                  [(ngModel)]="task.money">
        </mat-form-field>
      </div>
      <div [ngClass]="{
        'flex': inputTask.name === ''
      }">
      <div>
        <mat-card-subtitle>Приоритет:</mat-card-subtitle>
        <mat-form-field appearance="outline" name="priorities">
          <mat-select [(value)]="task.priorityId">
            <mat-option *ngFor="let prioritie of priorities" [value]="prioritie.id"
            [ngClass]="{
              'low-text': prioritie.id === 0,
              'middle-text': prioritie.id === 1,
              'high-text': prioritie.id === 2,
              'critical-text': prioritie.id === 3
            }">{{prioritie.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div >
        <mat-card-subtitle>Исполнитель:</mat-card-subtitle>
        <mat-form-field appearance="outline" name="users">
          <mat-select [(value)]="task.executorId">
            <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div>{{selectedUserId}}</div> -->
      </div>
    </div>
        
        <div >
          <mat-card-subtitle>Комментарий:</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <textarea *ngIf="inputTask.name !== ''"
              matInput [(ngModel)]="task.comment" name="message" rows="7"></textarea>
            <textarea *ngIf="inputTask.name === ''"
              matInput [(ngModel)]="task.comment" name="message" rows="5"></textarea>
          </mat-form-field>
          <!-- <textarea ngModel  class="form-control" id="exampleFormControlTextarea1"  ></textarea> -->
        </div>
        <mat-dialog-actions align="end">
          <button mat-dialog-close class="btn">Отменить</button>
          <button  (click)="submit()" mat-dialog-close="true"  mat-flat-button color="primary">Сохранить</button>
        </mat-dialog-actions>
  </mat-dialog-content>
</form>
</div>


