.dialog {
    border-top: solid 6px;
    .mat-dialog-content {
      margin: 16px 0 !important; 
      overflow:visible; 
      .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
        .flex-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
              width: 300px;
              display: flex;
              justify-content: end;
              margin-bottom: 14px;
              label {
                border: solid 1px  #32B4FF;
                color:rgb(68, 204, 219);
                border-radius: 15px;
                font-size: 12px;
                height: 30px;
                padding: 2px 15px 0 15px;
                display: flex;
                align-items: center;
              }
            }
           
        }
        .mat-form-field {
          width: 100% !important;
          font-family: 'Inter';
      
          ::ng-deep  .mat-select-arrow-wrapper {
              transform: none !important;
            }

          ::ng-deep .mat-form-field-infix {
            padding: 0 0 7px 0; 
         }
         
         
        }
      
        
      mat-card-title {
        margin-top: 24px;
        margin-bottom: 18px;
      }
      mat-card-subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.03em;
        margin-bottom: 8px;
      }
      mat-dialog-actions {
        margin-top: 0 !important;
        padding: 0 !important;
        button {
          margin-left: 13px;
        }
      }
    }
    textarea {
      resize: none; 
    }
}  


.low {
    border-color: rgb(68, 204, 219);
  }
  
  .middle {
    border-color: rgb(255, 164, 41);
  }
  
  .high {
    border-color: rgb(187, 139, 179);
  }
  
  .critical {
    border-color: #ff4443;
  }
  

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin:  0 !important; 
}

.low-text {
  color: rgb(68, 204, 219);
}

.middle-text {
  color: rgb(255, 164, 41);
}

.high-text {
  color: rgb(187, 139, 179);
}

.critical-text {
  color: #ff4443;
}
