.box {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position:sticky;
    top: 0;
    background-color: white;
    z-index:10;
    .info {
        display: flex;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        span {
            margin-right: 15px;   
        }
    }

    .admin {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 32px;
          width: 32px;
          border-radius: 100%;
          margin-right: 8px;
        }
        div {
            font-family: 'Inter';
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #002033;
            }
            div {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 110%;
                color: rgba(0, 32, 51, 0.6);
            }
        }
      }
}