
html, body {
	height: 100%;
	box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    padding: 0 !important;
	min-height: 573px !important;
	width: 520px !important;
}
  
