<div class="root">
  <div class="board">
    <div class="board-bar">
      <h3>Заявки</h3>
      <button type="button" class="btn btn-primary mr-2 ml-2">Добавить сделку</button>
      <div class="input-group">
          <input type="text" class="form-control" aria-label="Имя получателя" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">пип</button>
          </div>
      </div>
    </div>
    <div class="board-wrapper">
      <div class="board-columns">

        <div class="board-column" *ngFor="let column of  columns; let i = index">
          <div class="column-title">
            <div>{{column}}</div>
            <div class="number">4</div>
          </div>
          <div class="amount"> 0 ₽ </div>
          
        <app-card *ngFor="let item of  (getTasksByGroup(i+1) | async)"
              [taskName] = item></app-card>
        </div>

      </div>
    </div>
  </div>
</div>

