<!-- <div class="root">
  <div class="board">
    <div class="board-bar">
      <h3>Заявки</h3>
      <button mat-flat-button color="primary">Добавить сделку</button>
      <div class="input-group">
          <input type="text" class="form-control" aria-label="Имя получателя" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">пип</button>
          </div>
      </div>
    </div>
 -->

        <main>
          <ng-container *ngFor="let status of statuses">
            <div *ngIf="getSortedTasksFromMap((tasksGroupedByStatus$ | async), status.id) as tasks"
                 class="status-column"
                 cdkDropList
                 [id]="'status-' + status.id"
                 [cdkDropListData]="tasks"
                 [cdkDropListConnectedTo]="getConnectedStatuses(status.id)"
                 (cdkDropListDropped)="drop($event)">
                  <span class="status" color="primary">
                    {{status.name.toUpperCase()}}
                    <span class="badge" color="secondary"> {{ tasks.length }} </span>
                  </span>
                  <h1 class="money">{{getSumOfMoneyFromAllTasks(tasks)}} ₽</h1>
                <app-card *ngFor="let task of tasks"
                            [task]="task"
                            cdkDrag
                            class="tasks">
                </app-card>
            </div>
          </ng-container>
        </main>

  <!-- </div>
</div> -->

