.flex {
  display: flex;
}

::ng-deep .mat-drawer-content {
  margin: 0 !important;
}

::ng-deep .mat-drawer-container {
  background-color: transparent !important;
}



button {
  display: flex;
	align-items: center;
	justify-content: center;
}


.root {
  overflow-x: auto;
  padding:10px;
  .board-bar {
    display: flex;
    align-items: center;
    margin: 24px 6px 15px 6px;
    .requests {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      margin-right: 12px;  
    }
    
    h4 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      color: #002033;
    }
    #add-task {
       margin-right: 12px;
    }

    .input-group {
      margin-right: 16px;
      input {
        width: 100%;
        min-width: 300px;
        height: 40px;
        padding: 0 10px 0 10px;
        border: 1px solid rgba(0,0,0,.12);
        border-radius: 4px;
      }
      input:focus { 
        outline: none !important;
        border-color: rgba(0,0,0,.4);
     }
     div {
      position: absolute;
      right: .4em;
      display: flex;
      button {
        height: 40px;
        border: none;
        background-color: transparent;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .material-icons {
          margin-top: 4px;
          margin-left: 3px;
          font-size: 20px;
          color: rgba(0, 57, 92, 0.8);
        }
      }
      :nth-child(2) {
        border-left: 1px solid rgba(0,0,0,.12);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-right: -6px;
        padding-right: 10px;
      }
      :nth-child(2):hover {
        background-color: rgba(0, 0, 0, 0.027);
      }
      
    }
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color:  rgba(0, 66, 105, 0.07) !important;
      border-radius: 4px !important;
    }
    
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
     .mat-form-field-label {
      transform: translateY(-1.2em) scale(0.75) !important;
    }


    .mat-form-field {
      width: 165px !important;

      ::ng-deep .mat-form-field-label-wrapper {
          top: -1.3em;
      }
  
      ::ng-deep  .mat-select-arrow-wrapper {
          transform: none !important;
      }

      ::ng-deep .mat-select-arrow {
        border: none !important;
      }

      ::ng-deep .mat-form-field-infix {
        padding: 4px 0 12px 0; 
      }
     

     ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important; 
      }

    }
  }

  main {
    display: flex;
    min-height: 95vh;
    flex-grow: 1;
  
    .status-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 6px;
      padding: 16px 8px 16px 8px; 
      background: rgba(236, 241, 244, 0.5);
      min-width: 241px;
      flex-grow: 1;
      flex-basis: 0; 
      
      button {
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        min-width: 100% !important;
        height: 32px;
        margin-bottom: 4px !important;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
     

      .status {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
          display: flex;
          width: 100%;
          .badge {
            margin-left: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding:  2px 8px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            background: #DEE4E8;
            border-radius: 100%;
          }
        } 

        .money {
          margin-top: 6px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 300;
          font-size: 32px;
          line-height: 150%;
          color: rgba(0, 32, 51, 0.3);
        }
    }
    .cdk-drag-placeholder {
      opacity: 0;
    }
    
    .tasks {
        min-width: 100%;
        margin: 5px;
    }
  }
}


.cdk-drop-dragging .cdk-drag {
  transition: transform 600ms cubic-bezier(0, 0, 0.2, 1);
}
 
.cdk-drag-animating {
  transition: transform 650ms cubic-bezier(0, 0, 0.2, 1);
}
 
.task-number-badge {
  background: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  color: #FAFAFA;
  border-radius: 100%;
  position: absolute;
  right: .4em;
  padding: 4px 12px 4px 12px;
  bottom: 6px;
}

.low-bg {
  background-color: var(--low-color);
}

.middle-bg {
  background-color: var(--middle-color);
}

.high-bg {
  background-color: var(--high-color);
}

.critical-bg {
  background-color: var(--critical-color);
}

.tasks {
  cursor: grab;
}