<div class="root border-left">
    <div class="board-bar">
      <mat-card-title>Заявки</mat-card-title>
      <button mat-flat-button color="primary" id="add-task" (click)="openDialog()" >
        <span class="material-symbols-outlined">
          add
        </span>
        Добавить сделку
      </button>
      <div class="input-group">
            <input type="text" [formControl]="filterByName">
            <div>
              <button type="button" (click)="filterByName.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <button type="submit">
                <mat-icon>search</mat-icon>
              </button>
            </div>
      </div>
      <mat-form-field appearance="outline" name="priorities">
        <mat-label>Фильтры</mat-label>
        <mat-select  [formControl]="filterByPriority">
          <mat-option [value]=-1>Без фильтров</mat-option>
          <mat-option *ngFor="let prioritie of priorities" [value]="prioritie.id"
          [ngClass]="{
            'low-text': prioritie.id === 0,
            'middle-text': prioritie.id === 1,
            'high-text': prioritie.id === 2,
            'critical-text': prioritie.id === 3
          }">{{prioritie.name}}</mat-option>
        </mat-select>
        <div class="pipa">{{5}}</div>
      </mat-form-field>
    </div>
        <main>
          <ng-container *ngFor="let status of statuses">
            <div *ngIf="getSortedTasksFromMap((tasksGroupedByStatus$ | async), status.id) as tasks"
                 class="status-column"
                 cdkDropList
                 [id]="'status-' + status.id"
                 [cdkDropListData]="tasks"
                 [cdkDropListConnectedTo]="getConnectedStatuses(status.id)"
                 (cdkDropListDropped)="drop($event)">
                  <div class="status" color="primary">
                    {{status.name.toUpperCase()}}
                    <span class="badge" color="secondary"> {{ tasks.length }} </span>
                  </div>
                  <div class="money">{{getSumOfMoneyFromAllTasks(tasks)}} ₽</div>
                  <button mat-stroked-button  
                    (click)="openDialog(status.id)"
                    (mouseenter)="changeButtonStyleToCustom(block)" 
                    (mouseleave)="changeButtonStyleToDefault(block)">
                    <div #block>
                      <span  class="material-symbols-outlined">
                        add
                      </span>
                    </div>
                  </button>
                  <app-card 
                            *ngFor="let task of tasks"
                            [task]="task"
                            cdkDrag
                            class="tasks">
                  </app-card>             
            </div>
          </ng-container>
        </main>



        <div *ngIf="filteredTasks$ | async  as tasks">
          <span *ngFor="let task of tasks">
            {{task.name}}
          </span>
        </div>
</div>

