<div class="root border-left">
    <div class="board-bar">
      <mat-card-title>Заявки</mat-card-title>
      <button type="button" (click)="openDialog()" class="btn btn-primary" id="add-task">
        <span class="material-symbols-outlined">
          add
        </span>
        Добавить сделку
      </button>
      <div class="input-group">
          <input type="text" class="form-control" aria-label="Имя получателя" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">пип</button>
          </div>
      </div>
    </div>


        <main>
          <ng-container *ngFor="let status of statuses">
            <div *ngIf="getSortedTasksFromMap((tasksGroupedByStatus$ | async), status.id) as tasks"
                 class="status-column"
                 cdkDropList
                 [id]="'status-' + status.id"
                 [cdkDropListData]="tasks"
                 [cdkDropListConnectedTo]="getConnectedStatuses(status.id)"
                 (cdkDropListDropped)="drop($event)">
                  <div class="status" color="primary">
                    {{status.name.toUpperCase()}}
                    <span class="badge" color="secondary"> {{ tasks.length }} </span>
                  </div>
                  <div class="money">{{getSumOfMoneyFromAllTasks(tasks)}} ₽</div>
                  <button type="button" class="btn btn-light">+   Быстрая сделка</button>
                  <app-card *ngFor="let task of tasks"
                              [task]="task"
                              cdkDrag
                              class="tasks">
                  </app-card>
            </div>
          </ng-container>
        </main>
</div>

