.dialog {
    border-top: solid 8px;
    .mat-dialog-content {
      margin: 16px 0 !important; 
      overflow:visible; 
    
        .mat-form-field {
          width: 100% !important;
          font-family: 'Inter';
      
          ::ng-deep  .mat-select-arrow-wrapper {
              transform: none !important;
            }

          ::ng-deep .mat-form-field-infix {
            padding: 0 0 7px 0; 
         }
         
         
        }
      
      // .mat-form-field {
      //   width: 100% !important;
      //   font-family: 'Inter';
    
      //   ::ng-deep  .mat-select-arrow-wrapper {
      //       transform: none !important;
      //     }
        
        
   
    
      //   ::ng-deep .mat-form-field-infix {
      //     padding: 0 0 7px 0; 
      //  }
       
       
      // }
      
      mat-card-title {
        margin-top: 24px;
        margin-bottom: 18px;
      }
      mat-card-subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.03em;
        margin-bottom: 8px;
      }
      mat-dialog-actions {
        margin-top: 0;
        padding: 0;
        button {
          margin-left: 13px;
        }
      }
    }
    textarea {
      resize: none; 
    }
}  


.low {
    border-color: rgb(68, 204, 219);
  }
  
  .middle {
    border-color: rgb(255, 164, 41);
  }
  
  .high {
    border-color: rgb(187, 139, 179);
  }
  
  .critical {
    border-color: #ff4443;
  }
  

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important; 
}
