<div class="low dialog">
  <form>
  <mat-dialog-content class="border-bottom">
    <mat-card-subtitle mat-dialog-title>{{"Редактирование заявки" | uppercase}}</mat-card-subtitle>
    <select class="custom-select mb-3 status" id="inputGroupSelect01" >
      <option selected>Статус заявки</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </mat-dialog-content>
  <mat-dialog-content >
        <mat-card-title>Корректировка значений по ВКУ-321</mat-card-title>
        <div class="form-group">
          <mat-card-subtitle>Приоритет:</mat-card-subtitle>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="form-group">
          <mat-card-subtitle>Исполнитель:</mat-card-subtitle>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="form-group">
          <mat-card-subtitle>Комментарий:</mat-card-subtitle>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <mat-dialog-actions align="end">
          <button mat-dialog-close class="btn">Отменить</button>
          <button type="submit" mat-dialog-close="true" class="btn btn-primary">Сохранить</button>
        </mat-dialog-actions>
  </mat-dialog-content>
</form>
</div>
