.dialog {
    border-top: solid 8px;
}

.low {
    border-color: rgb(68, 204, 219);
  }
  
  .middle {
    border-color: rgb(255, 164, 41);
  }
  
  .high {
    border-color: rgb(187, 139, 179);
  }
  
  .critical {
    border-color: #ff4443;
  }
  
  .custom-dialog-container {
    border-top: solid 4px rgb(149, 255, 154);
  }
